.App {
    text-align: center;
    /* background-image: url("https://certificate.upsheba.com/img/border-full.png?fbclid=IwAR14jKstKjJma9I1TCrUZPfGudnin8nxuBudV-2gqyhgJI5EHf-YFUSQBeM");
    background-repeat: no-repeat;
    background-position: absolute; */
  }
